* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*Navbar*/

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 550;
    font-size: 17px;
    transition: 0.5s ease;
    color: #183086;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #2c57f3;
}
/*Fim Navbar*/

/*Apresentacao-top */
.apresentacao-top {
    padding: 130px 0px;
    background-image: url('img/Design\ sem\ nome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /*Conteúdo*/
.apresentacao-text {
    color: #183086;
}

.apresentacao-text h6 {
    font-size: 37px;
    font-weight: 500;
    width: 100%;
}

.apresentacao-text h1 {
    font-weight: 500;
    font-size: 22px;
}

.img-apresentacao-top img {
    height: 219px;
}

.buttons a {
    border-radius: 10px;
    margin: 10px 5px;
}

.contato {
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
    background-color: #183086;
    color: #fbfbfb;
    transition: 1.5s;
    padding: 5px 20px;    
}

.contato:hover {
    background-color: white;
    border: 1px solid;
    color: #183086;
}

a.portfolio {
    border: 1px solid #183086;
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
    transition: 1s;
    color: #183086;
    padding: 5px 10px;
}

a.portfolio:hover {
    background-color: #183086;
    color: #fbfbfb;
}
    /*Fim Conteúdo*/
/*Fim Apresentacao-top */

/*Seção sobre*/
#sobre {
    background-color: #191970;
    padding: 40px;
}

.text-sobre {
    color: white;
}

.text-sobre h4 {
    border-bottom: 1px solid white;
    font-size: 24px;
    font-weight: 500;
}

.text-sobre p {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin:20px 0px;
}

    /*Foco*/
.foco {
    padding: 0px 0px;
}

.text-foco {
    color: white;
    margin-top: 10px;
}

.text-foco h4 {
    border-bottom: 1px solid;
    font-size: 24px;
    font-weight: 500;
}

.text-foco p {
    font-size: 20px;
    font-weight: 500;
}
    /*Fim Foco*/
/*Fim Seção Sobre*/

/*servicos*/

#servicos {
    padding: 60px 0px;
}

.servico-title {
    color: #183086;
    text-transform: uppercase;
}

.card-body {
    border: 1px solid #183086;
    border-radius: 15px;
}

.card-title {
    color: #183086;
    border-bottom: 1px solid;
}

.card-text {
    font-size: 17px;
    font-weight: 500px;
}
/*Fim Seção Servicos*/

.tecnologias {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Seção Linguagens */
.linguagens {
    background-color: #183086;
}

.linguagens-title h4 {
    color: WHITE;
}

.linguagens-itens {
    border-radius: 25px;
}

.linguagens-itens h6 {
    color: WHITE;
}
/*Fim Seção Linguagens */

/* Seção Ferramentas */

.ferramentas {
    background-color: #183086;
}

.ferramentas-title h4 {
    color: WHITE;
}

.ferramentas-itens {
    border-radius: 25px;
}

.ferramentas-itens h6 {
    color: WHITE;
}
/* Fim Seção Ferramentas */

/* Seção Portfólio */

.portfolio {
    border: none;
    padding: 50px 0px;
}

.portfolio:hover {
    color: #183086;
    background-color: white;
}

.portfolio img {
    box-shadow: 1px 1px 6px 1px;
}

.portfolio h6 {
    color: black;
}

.portfolio h4 {
    color: #183086;
}

/* Fim Seção Portfólio */

/* Seção Footer */
footer {
    background-color: #183086;
    padding: 5px;
}

footer h5 {
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding: 15px 0px;
}

footer p {
    color: white;
    font-weight: lighter;
    font-size: 17px;
}

footer a {
    color: white;
    font-weight: lighter;
    font-size: 17px;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
/* Fim Seção Footer */

@media screen and (max-width: 375px) {
    .img-apresentacao-top img{
        height: 150px;
    }
}